## Assessment Title: Integrated CA2

## Lecturer Name: David McQuaid & Muhammad Iqbal

## Student Full Name & Student ID: Deniz OZSOY UGUR - 2023195

### Link to Dataset

ProjectTweets.csv

### GitHub Repository: 

CCT-Dublin Link:

https://github.com/CCT-Dublin/adv-data-big-data-ft-ca2-denizozsoyugur

The link used since the beginning of the project:

https://github.com/denizozsoyugur/2023195_IntegratedCA2

## Inital Data Processing

In [1]:
#!pip install statsmodels

In [2]:
#!pip install pandas matplotlib

In [3]:
#!pip install dash dash-core-components dash-html-components dash-table plotly

In [4]:
#!pip install dash-bootstrap-components

In [5]:
#!pip install plotly

In [6]:
#!pip install numpy

In [7]:
#!pip install pandas

In [8]:
#!pip install pmdarima

In [9]:
#!pip install --upgrade transformers

In [10]:
#!pip install numpy==1.24.0

In [19]:
# Import NumPy, Pandas, Matplotlib, Seaborn libraries and Plotly Express

import numpy as np
import pandas as pd
import plotly.express as px
import calendar
import re

from dateutil.parser import parse 
import matplotlib as mpl

from pyspark import SparkConf
from pyspark.conf import SparkConf

In [12]:
df = pd.read_csv('/home/hduser/Desktop/ProjectTweets.csv')

    • ids: The id of the tweet (eg. 4587)
    
    • date: the date of the tweet (eg. Sat May 16 23:58:44 UTC 2009)
    
    • flag: The query (eg. lyx). If there is no query, then this value is NO_QUERY.
    
    • user: the user that tweeted (eg. bobthebuilder)
    
    • text: the text of the tweet (eg. Lyx is cool)

In [13]:
df.columns = ['indx','ids','date','flag','user','text']

In [14]:
df = df.iloc[:,1:]

In [15]:
df.describe(include ='all')

,ids,date,flag,user,text
count,1.599999e+06,1599999,1599999,1599999,1599999
unique,NaN,774362,1,659775,1581465
top,NaN,Mon Jun 15 12:53:14 PDT 2009,NO_QUERY,lost_dog,isPlayer Has Died! Sorry
freq,NaN,20,1599999,549,210
mean,1.998818e+09,NaN,NaN,NaN,NaN
std,1.935757e+08,NaN,NaN,NaN,NaN
min,1.467811e+09,NaN,NaN,NaN,NaN
25%,1.956916e+09,NaN,NaN,NaN,NaN
50%,2.002102e+09,NaN,NaN,NaN,NaN
75%,2.177059e+09,NaN,NaN,NaN,NaN
max,2.329206e+09,NaN,NaN,NaN,NaN

In [20]:
df.iloc[:, 4:] = df.iloc[:, 4:].replace(r'\\', '', regex=True)

In [21]:
df.iloc[:, 4:] = df.iloc[:, 4:].applymap(lambda x: re.sub(r'[^A-Za-z0-9]+', '', str(x)))

/tmp/ipykernel_3332/2989658117.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.iloc[:, 4:] = df.iloc[:, 4:].applymap(lambda x: re.sub(r'[^A-Za-z0-9]+', '', str(x)))

In [22]:
df = df.drop_duplicates()

In [23]:
df.describe(include ='all')

,ids,date,flag,user,text
count,1.598314e+06,1598314,1598314,1598314,1598314
unique,NaN,774362,1,659775,1573475
top,NaN,Mon Jun 15 12:53:14 PDT 2009,NO_QUERY,lost_dog,Goodmorning
freq,NaN,20,1598314,549,234
mean,1.998872e+09,NaN,NaN,NaN,NaN
std,1.935909e+08,NaN,NaN,NaN,NaN
min,1.467811e+09,NaN,NaN,NaN,NaN
25%,1.956927e+09,NaN,NaN,NaN,NaN
50%,2.002114e+09,NaN,NaN,NaN,NaN
75%,2.177094e+09,NaN,NaN,NaN,NaN
max,2.329206e+09,NaN,NaN,NaN,NaN